@using WebExtras.JQueryUI
@using EButton = WebExtras.Core.EButton
@model string

@{
    ViewBag.Title = "Download";
}

<h3 class="keep-center">Download</h3>

<div id="download-links" class="col-group keep-center">
  @Html.Button(EButton.Regular, "Stable<small> (" + Model + ")</small>", "http://webextras.codeplex.com/releases", true).AddIcon(EJQueryUIIcon.Circle_Arrow_S)
  
  &nbsp;&nbsp;&nbsp;
  
  @Html.Button(EButton.Regular, "Nightly", "http://mihirmone.entrydns.org/app-downloads/webextras/webextras-nightly.zip", true).AddIcon(EJQueryUIIcon.Circle_Arrow_S).AddCssClass("ui-state-highlight")
  
  &nbsp;&nbsp;&nbsp;
  
  @Html.Button(EButton.Regular, "NuGet Gallery", "https://www.nuget.org/packages?q=webextras", true).AddIcon(EJQueryUIIcon.Circle_Arrow_S).AddCssClass("ui-state-highlight")

</div>
<br />
<div class="col-group">
  <div class="col-12 changelog">
    @Html.Inline(Links.Content.inline.changelog_html)
  </div>
</div>
<br />
<script type="text/javascript">
  $(function () {
    $('.changelog').jScrollPane();
    $('#download-links button').button();
  });
</script>