@{
  ViewBag.Title = "ActionResults";
}

<h3 class="keep-center">Extra Action Results</h3>

<div class="col-group">
  <div class="col-6">
    <div class="col-12">
      <div class="col-3">
        <strong>Assembly</strong>
      </div>
      <div class="col-4">
        WebExtras.Mvc.dll
      </div>
    </div>
    <div class="col-12">
      <div class="col-3">
        <strong>Namespace</strong>
      </div>
      <div class="col-4">
        WebExtras.Mvc.Core
      </div>
    </div>
  </div>  
</div>

@Html.Partial(MVC.Mvc.Views._JsonNetResult)
