@{
  ViewBag.Title = "ActionResults";
}

<h3 class="keep-center">Extra Action Results</h3>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-3">
        <strong>Assembly</strong>
      </div>
      <div class="col-md-4">
        WebExtras.Mvc.dll
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Namespace</strong>
      </div>
      <div class="col-md-4">
        WebExtras.Mvc.Core
      </div>
    </div>
  </div>
</div>

@Html.Partial(MVC.Mvc.Views._JsonNetResult)