@model WebExtras.JQFlot.FlotChart

<div class="well">
  <h4>Slightly modifying our series we get...</h4>
  <pre><code>
  FlotSeries serie = new FlotSeries
  {
    label = "Sample Bar Graph",
    data = graphData,
    dashes = new BarGraph { show = true }                 <span class="comment">// This will denote that you want a Bar graph</span>
  };
  </code></pre>
</div>

<div class="well">
  <h4>And we have a bar graph...</h4>
  <div class="content">    
    <div id="bar-graph" class="flot-graph">
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function () {
      $.plot($('#bar-graph'), [@Html.Raw(Model.chartSeries[0].ToString())], @Html.Raw(Model.chartOptions.ToString()));    
    });
  </script>
</div>
