@{
  ViewBag.Title = "Mvc Bootstrap Html Helper Extensions";
}

<h3 class="keep-center">Mvc Bootstrap Html Helper Extensions</h3>

<div class="row-fluid">
  <div class="span6">
    <div class="row-fluid">
      <div class="span3">
        <strong>Assembly</strong>
      </div>
      <div class="span4">
        WebExtras.Mvc.dll
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <strong>Namespace</strong>
      </div>
      <div class="span4">
        WebExtras.Mvc.Bootstrap
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="span3">
      <strong>Dependancies</strong>
    </div>
    <div class="span4">
      <ul class="dependancies">
        <li>webextras.css</li>
      </ul>
    </div>
  </div>
</div>

<div class="well">
  <h4>Adding Icons</h4>
  <p>Markup</p>
  <pre><code>
@@Html.Hyperlink("Take me to google", "http://www.google.com").AddIcon(BoostrapIcon.Ok)
  </code></pre>
  <p>Output</p>
  <div class="content">
    @Html.Hyperlink("Take me to google", "http://www.google.com").AddIcon(BoostrapIcon.Ok)
  </div>
  <p>All available extensions</p>
  <pre><code>
.AddIcon(icon)
.AddWhiteIcon(icon)
  </code></pre>
</div>
