@model WebExtras.DemoApp.Models.Core.DatatablesViewModel

<div class="well">
  <h4>That's our basic setup table again</h4>
  <div class="output">
    @Html.Partial(MVC.Bootstrap.Core.Views._Datatable, Model.Table)
  </div>
</div>

<div class="well">
  <h4>And here is our searched/filtered result</h4>
  <div class="output">
    @Html.Partial(MVC.Bootstrap.Core.Views._Datatable, Model.PostbackEnabledTable)
  </div>
</div>
