/** GENERIC STYLING **/
input[type="checkbox"],
input[type="radio"] {
  vertical-align: top;
}
.checkbox-group,
.radiobutton-group {
  width: 100%;
}
.keep-center {
  text-align: center !important;
}
.keep-right {
  text-align: right !important;
}
.keep-left {
  text-align: left !important;
}
.keep-middle {
  vertical-align: middle !important;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
#actionmessage {
  position: fixed;
  top: 0;
  right: 0.2%;
  z-index: 2000;
}
.required {
  color: #b94a48;
}
/** GENERIC STYLING END **/
/** GENERIC DATATABLES EXTENSIONS AND OVERRIDES **/
table.dataTable thead th {
  border-bottom: 0;
}
table.dataTable thead th div.DataTables_sort_wrapper {
  padding-right: 20px;
  position: relative;
}
table.dataTable thead th div.DataTables_sort_wrapper span {
  margin-top: -8px;
  position: absolute;
  right: 0;
  top: 50%;
}
table.dataTable thead th .css_right {
  float: right;
}
.dataTables_scrollBody {
  margin-top: -3px;
  background: #ffffff;
}
.dataTables_scroll {
  border-left: 1px solid;
  border-right: 1px solid;
}
/** GENERIC DATATABLES EXTENSIONS AND OVERRIDES END **//** GUMBY OVERRIDES AND EXTENSIONS **/
table tr td:first-child {
  font-weight: normal;
}
.warning {
  color: #f6b83f;
}
.error,
.danger {
  color: #ca3838;
}
.success {
  color: #58c026;
}
/** GUMBY OVERRIDES AND EXTENSIONS END **/
/** DATATABLE OVERRIDES AND EXTENSIONS **/
table.dataTable tbody tr.success td {
  background-color: #80CB92;
}
table.dataTable tbody tr.error td,
table.dataTable tbody tr.danger td {
  background-color: #DF8989;
}
table.dataTable tbody tr.warning td {
  background-color: #FBDCA0;
}
table.dataTable tbody tr.info td {
  background-color: #7B8085;
}
/** DATATABLE OVERRIDES AND EXTENSIONS END **/
/** FLOT EXTENSIONS **/
.legend table {
  width: auto;
}
.legend table td {
  font-size: 11px;
  padding: 0 2px;
  vertical-align: middle;
}
/** FLOT EXTENSIONS END **/
/** ACTION MESSAGE STYLING **/
.success .close,
.danger .close,
.info .close,
.warning .close {
  line-height: 20px;
  position: relative;
  right: -5px;
  top: 2px;
}
button.close {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 0 none;
  cursor: pointer;
  padding: 0;
}
.close {
  color: #000000;
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  opacity: 0.2;
  text-shadow: 0 1px 0 #FFFFFF;
}
/** ACTION MESSAGE STYLING END **/